---
import { Icon } from "astro-icon";
import Main from "../../layouts/sb/Main.astro";
import Card from "../../components/sb/Card.astro";
---

<Main title="Sinan - Home">
  <header>
    <div>
      <img src="https://cdn.discordapp.com/attachments/1080846560683905116/1084828717332840508/F93C80D8-1FDA-4CB3-ACD5-D013D0BFB676.jpg" alt="Avatar" class="avatar" />
      <h1><img src="./wave.png" class="wave" /> Hey there, I'm <span class="name">Sinan</span>!</h1>
      <p>An open source software developer and student.</p>
      <a href="#content"><Icon name="bytesize:arrow-bottom" color="black" width="3em"/></a>
    </div>
  </header>
  <div id="content">
    <Card title="About Me" icon="noto-v1:artist-palette" icon-color="#222255">
      I'm a high school student who loves to program and actively works on new projects, I also love collaborating  with other programmers and contributing to open source projects.
    </Card>
    <Card title="Skills" icon="jam:tools" icon-color="#222255">
      I have recently started to learn HTML and CSS and I am knowledgable on a bit of JavaScript<br><br>
    
    </Card>
    <Card title="Projects" icon="akar-icons:github-fill" icon-color="black" href="https://github.com/SinanBruh">
      I've worked on a plethora of projects which revolve around different technologies and techniques in several langauges and you can find them on my <a href="https://github.com/SinanBruh">GitHub page</a>, here are some highlights:<br>
      <Card title="MHS CS Club Site" href="https://github.com/SinanBruh/cs-club-website">
        A simple, astro website for showcasing the <a href="https://mhs-cs-club.netlify.app">MHS CS Club</a> members projects.
      </Card>
      <Card title="Project 2" href="https://github.com/SinanBruh">
        Another project you work on.
      </Card>
    </Card>
  </div>
</Layout>

<style>
  header {
    background: linear-gradient(30deg, #1000aa, #ff50ee);
  }

  header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
    height: 100vh;
    color: #f0f0f0;
    animation: appear 2s ease-in-out;
  }

  @keyframes appear {
    0% {
      opacity: 0%;
      filter: blur(1em);
    }
    100% {
      opacity: 100%;
      filter: blur(0em);
    }
  }

  header > div > .avatar {
    width: 8em;
    border-radius: 100%;
    box-shadow: 0em 0em 5em -1em #1000aa;
    border: 2px solid #ffffff;
  }

  .wave {
    width: 1em;
  }

  header > div > h1 {
    font-size: 2em;
    margin: 0;
  }

  header > div > [astro-icon] {
    margin: 5em;
  }

  .name {
    font-weight: 900;
    border-radius: 0.4rem;
    color: #ff6090;
    animation: pulse 3s ease-in-out;
  }

  @keyframes pulse {
    0%, 75% {
      color: inherit;
    }
    100% {
      color: #ff6090;
    }
  }

  #content {
    scroll-behavior: smooth;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	max-width: 70em;
    gap: 1em 0em;
	margin: auto;
  }

  @media only screen and (max-width: 600px) {
    #content {
      padding: 0.5em;
    }
  }
</style>
