---
import Layout from '../layouts/Layout.astro';
import { Accordion, AccordionItem, Card, Modal} from 'accessible-astro-components';
---

<Layout title="Landing Page.">
	<main>
		<h1>Landing <span class="text-gradient">Page</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
		</p>
        <p> Sinan was here!!! </p>
		<p> sus </p>
	</main>
	<ul class="carditem">
		<li>
		   <Card
		   url="/nw"
		   img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zsaaVp0tIiSnOK-1rYpBnwAAAA%26pid%3DApi&f=1&ipt=611b28b84070c5d6b06c6d058cee6dae41a32c99aaa823eb2f5ffd86cec3902e&ipo=images"
		   title="Projects of Niklas"
		   footer="Niklas Wojtkowiak"
		   >
		   Profile
		   </Card>
		</li>
		<li>
		   <Card
			   url="/p2"
			   img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zsaaVp0tIiSnOK-1rYpBnwAAAA%26pid%3DApi&f=1&ipt=611b28b84070c5d6b06c6d058cee6dae41a32c99aaa823eb2f5ffd86cec3902e&ipo=images"
			   title="Projects of Sinan"
			   footer="Sinan Berkman"
			   >
			   Profile
		   </Card>
		</li>
		<li>
			<Card
			url="/p3"
			img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zsaaVp0tIiSnOK-1rYpBnwAAAA%26pid%3DApi&f=1&ipt=611b28b84070c5d6b06c6d058cee6dae41a32c99aaa823eb2f5ffd86cec3902e&ipo=images"
			title="Projects of Person 3"
			footer="Person 3"
			>
			Profile
			</Card>
		 </li>
		 <li>
			<Card
				url="/p4"
				img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zsaaVp0tIiSnOK-1rYpBnwAAAA%26pid%3DApi&f=1&ipt=611b28b84070c5d6b06c6d058cee6dae41a32c99aaa823eb2f5ffd86cec3902e&ipo=images"
				title="Projects of Person 4"
				footer="Person 4"
				>
				Profile
			</Card>
		 </li>
		 <li>
			<Card
			url="/p5"
			img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zsaaVp0tIiSnOK-1rYpBnwAAAA%26pid%3DApi&f=1&ipt=611b28b84070c5d6b06c6d058cee6dae41a32c99aaa823eb2f5ffd86cec3902e&ipo=images"
			title="Projects of Person 5"
			footer="Person 5"
			>
			Profile
			</Card>
		 </li>
		 <li>
			<Card
				url="/p6"
				img="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zsaaVp0tIiSnOK-1rYpBnwAAAA%26pid%3DApi&f=1&ipt=611b28b84070c5d6b06c6d058cee6dae41a32c99aaa823eb2f5ffd86cec3902e&ipo=images"
				title="Projects of Person 6"
				footer="Person 6"
				>
				Profile
			</Card>
		 </li>
	</ul>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.carditem {
		list-style: none;

	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	ul {
  		width: 905px;
		margin: 0 auto; 
		position: relative;
	}
	li {
		width: 400px;
		margin-top: 50px;
		margin-right: 50px;
		display: inline-block;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
